div {
  border: 7px solid #4285f4;
  width: 200px;
  height: 200px;  
  margin-top: 10px;
}

p {
  padding-top: 30px; 
  font-size: 30px;
  height: 70px;
  width: 200px;
  color: white;  
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-family: 'Baloo Thambi 2', cursive;
}

.north {
  background: #E67676;
}

.south {
  background: #A9E6E6;
}
