.container {
  width: 300px;
  height: 300px;
}
.item {
  width: 150px;
  height: 150px;
}
.green {
  background: #51d400;
}
.yellow {
  background: #ffd62a;
}
.purple {
  background: #b02afe;
}
.container {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}