div {
  display: flex;
}
section {
  width: 300px;  
  text-align: center;
}
a {
  display: block;
  font-size: 20px;
  margin: 0;
}

img {
  width: 150px;
  margin: 33px;  
}

img:hover {
  width: 250px;
  margin: 0px;
}